* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;  
}

.wrapperSlider {
    width: 100%;
    max-width: 900px;
    padding: 14px 24px 0px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    pointer-events: all;
    margin-left: 8px;
    margin-right: 8px;
}

@media screen and (max-width: 666px) {
    .wrapperSlider {
        max-width: 100%;
        margin-left: 8px;
        margin-right: 8px;
    }
}