.slider {
    pointer-events: all;

    .sliderSpan {
        font-weight: bold;
        color: #000;
    }
}

.wrapperSlider {
    padding: 8px 24px 24px;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #26418f;
}

.wrapperComponent {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buttonGroup {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    pointer-events: all;
    border-radius: 8px;
    background-color: rgb(166, 218, 166);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .radioInput {
        cursor: pointer;
    }
}