.header {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    height: 5%;
    padding: 16px;
    gap: 16px;
}

.headerText {
    font-weight: bold;
}

.body {
    padding: 28px;
    display: flex;
    flex-direction: column;
    gap: 21px;

    .contentBlock {
        display: flex;
        flex-direction: column;
        gap: 6px;

        &:first-child {
            margin-top: 0px;
        }

    }

    .contentTitle {
        font-weight: bold;
        color: #000;
    }

    .contentStyle {
        color: rgba(0, 0, 0, 0.4);
    }
}