* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;  
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.body {
    padding: 20px;
}

.controlButton {
    pointer-events: all;
}


.label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.lableIcon {
    min-width: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lableName {
    text-align: left;
}