.accordion {
    pointer-events: all;
    width: 316px;
}

.label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.lableIcon {
    width: 16px;
    height: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.legendName {
    text-align: left;
}