.map-wrapper {
    height: 100%;
    width: 100%;
    position: relative;  
}

.map {
    height: 100%;
    width: 100%;
    position: absolute;
}

.controls {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.midControls {
    display: flex;
    flex-direction: column;
    margin-right: 8px;

    .rightControlsContent {
        flex-grow: 1;
    }

}

.zoom-controls {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    flex-direction: column;
    gap: 8px;

    .zoom-controls__button {
        width: 25px;
        height: 25px;

        display: flex;
        justify-content: center;
        align-items: center;

        pointer-events: all;
        cursor: pointer;
    }
}

.bottom-controls {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    margin-bottom: 8px;

    &.slider {
        pointer-events: all;
    }
}

.topControls {
    margin-top: 8px;
    margin-right: 8px;
    text-align: right;
    flex-grow: 1;

    .diffControlsButton {
        padding: 8px;
        background-color: #5c6bc0;
        border: none;
        border-radius: 8px;
        color: #fff;
        cursor: pointer;
        pointer-events: all;
    }
}

.sliderWrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 16px;
}

.sliderSpan {
    color: #fff !important;
}

.olSwipe {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999999;
    pointer-events: all;
}